.logo{
	position: relative;
	width: 1.94rem;
	height: 0.65rem;
	margin: 0 auto;
	margin-top: 2rem;
}
.logo>img{
	width:100%;
}
.login-item{
 	position: relative;
 	margin: 0 auto;
 	width: 80%;
 	height: 0.8rem;
	font-size: 12px;
	/* text-align: center */
}
.login-item input{
	background: none;
	border: none;
	display: block;
	position: absolute;
	bottom: 0;
	height: 0.5rem;
}


.login-pawd{
	margin-top:0.3rem;
}
.des{
	font-size: 12px;
	position: relative;
 	margin: 0 auto;
 	width: 100%;
	height: 0.8rem;
	text-align: center; 

}
.login-btn{
	display: block;
	font-size: 18px;
	position: relative;
 	margin: 0 auto;
 	width: 90%;
	height: 0.8rem;
	text-align: center; 
	background-color:#ffda44; 
	border-radius: 5px;
}
.sms-btn{
	font-size: 12px;
    position: absolute;
    /* right: 0;
    bottom: 0;
    width: 1.6rem;
    height: 0.6rem;
    text-align: center;
    border: 1px solid #d0cfce;
    border-radius: 5px; */
}

.ph-tips{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #000;
	font-size: 11px;
}

.other{
	width: 100%;
	position: relative;
	margin: 0 auto;
	margin-top: 0.5rem;
	font-size: 15px;
}
.deal{position: absolute;
	left: 0.2rem;}
/* .checkdeal{
	display: block;
	position: absolute;
	left: 0.5rem;
	font-size: 15px;
	color: #000;
} */

.other-way{
	position: absolute;
	right: 0.5rem;
	font-size: 15px;
}
.islook{
	display: block;
	position: absolute;
	right: 0.5rem;
	bottom: 2%;
	font-size: 15px;
}
.login .am-tabs {
	height: 3rem;
	margin-top: 1rem;
}