.postre{
	font-size: 18px;
}
.mom-requirement{
	position: relative;
	margin: 0 auto;
	margin-top: 0.5rem;
}
.post-btn{
	/* position: absolute; */
	width: 100%;
	height: 0.8rem;
	/* bottom: 0;
	left: 0; */
	background-color: #ffda44;
	color: #fff;
	font-size: 15px;
	margin-top: 0.5rem;
}
.address{
	display: block;
	width: 100%;
	height: 0.8rem;
}
.costMin,.costMax{
	display: inline-block;
	width: 1.8rem;
	text-align: center
}
.babylabel{
	display: inline-block;
	position: relative;
	width: 1rem;
	text-align: center;
	border:1px solid #ffda44;
}
.babyinput{
	display: none;
}
.labelchangecolor{background-color: #ffda44;}

/* flex item */
.flex-item {
	background-color: #fff;
	color: #333;
	text-align: center;
	height: 30px;
	line-height: 30px;
	width: 100%;
	font-size: 16px;
	border-radius: 3px;
}
.flex-item.selected {background-color: #ffda44;}
.flex-item input {
	width: 100%;
	font-size: 16px;
	text-align: center;
	border: 0;
	background-color: transparent;
}
.flex-item input::placeholder {
	font-size: 14px;
	color:#aaa;
}

.am-input-extra .am-button-small{
	height: 20px;
	line-height: 20px;
}




.status-mana{
	position: relative;
	display: flex;
	width: 100%;
	height: 30px;
	margin: 0 auto;
	margin-top: .5rem;
}
.status-btn{
	flex: 1;
	margin: 0 .6rem;
}
.apply-bar{
	position: relative;
	width: 100%;
	height: 0.8rem;
	margin: 0 auto;
	margin-top: .5rem;
	background-color:#ddd;
	line-height: 0.8rem;
    font-size: 15px;
    padding: 0 0.2rem;
}

/* interview */
.mom-interview .am-tabs-content-wrap .am-list-body div:not(:last-child) .am-list-line::after {
	height: 2px;
}


.postre .am-toast-notice .am-toast-notice-content .am-toast-text{color: #fff}

.requitem .moon-btn{
	position: absolute; 
	right: .3rem;
	top: .2rem;
	backgroundColor: #ffda44;
	borderRadius: 20px;
}
.requitem .phone-btn{
	position: absolute;
	right: .3rem;
	top: 1rem;
	backgroundColor: #ffda44;
	borderRadius: 20px;
}
.requitem .tele-btn{display: block;
	 position: absolute;
	 right: .3rem;
	 top: 1rem;
	 backgroundColor: #ffda44;
	borderRadius: 20px;
	 fontSize: 13px;
	 height: 30px;
	lineHeight: 30px;
	padding: 0 15px;
}
